        html,body{
            margin: 0;
            border: 0;
            width: 100%;
            font-family: 'Roboto';
        }
        .left{
            float: left;
        }
        .img{
            width: 38%;
            height: auto;
            padding-left: 4%;
            padding-right: 2%;
        }
		nav li ul {
			display: none;
			position: absolute;
			z-index: 2;
			top: 90px;
			left: 325px;
			width: 170px;
			background-color: rgb(139,167,255);
			
		}
		nav li ul li {
			display: block;
			cursor: pointer;
			list-style-type: none;
			clear: both;
			color: white;
            text-decoration: none;
            margin-left: 15px;
            font-size: 24px;
		}
		nav li {
			display: inline;
			cursor: pointer;
			list-style-type: none;
			color: white;
            text-decoration: none;
            margin-left: 15px;
            font-size: 24px;
		}	
		.right{
            float: right;
            width: 55%;
        }
        h1{
            color: white;
        }
        .header{
            color: white;
            font-size: 48px;
            background-color: black;
            text-align: center;
        }
.black{
    color: black !important;
    text-align: center;
}
        nav{
            background-color: darkblue;
            margin-top: 2px;
			padding-top: 10px;
			height: 40px; 
        }
        .center{
            margin-bottom: 50%;
        }
        .link{
            color: white;
            text-decoration: none;
            margin-left: 15px;
            font-size: 24px;
        }
        :visited{
            text-decoration: none;
        }
        :link{
            text-decoration: none;
        }
        .icon{
            height: 20px;
        }
        .post{
            margin-top: 3px;   
        }
        .right{
        }
        
        .container {
            height: 100%;
            box-sizing: border-box;
            padding: 20px;
            display: block;
        }
        .containerr {
            height: 100%;
            box-sizing: border-box;
            padding: 20px;
            width: 100%;
            display: block;
        }
        
        .container img {
            float: left;
            padding-right: 10vw;
            max-height: 15vw;
        }
        .comp{
            width: 100vw;
            height: 10px;
        }
        .comp2{
            width: 100vw;
            height: 40px;
        }

        .image  {
            padding: 20px 50px;
        }

        table h2 a {
            color: black;
        }

        table h2 a:hover {
            text-decoration: underline;
        }

        table h2 a:visited {
            color: black;
        }
		.links{
			color: white !important;
		}
		.forumheader {
			background-color: rgb(139,167,255)
		}
		.forumposts {
			
		}
		.forumpost { 
			
		}
		.forumposttitle {
			
		}
		.forumpostauthor {
			
		}
		.forumpostdate {
			
		}